<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% block stylesheets %}
        
        {% endblock %}

    </head>
    <body>
        {% block body %}




            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <script src="https://unpkg.com/feather-icons"></script>
            <script>
                feather.replace()
            </script>
        
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
